<div>
  <h2 class="text-center text-uppercase menu-color">Cadastro de Fator de Alcance</h2>

  <div class="d-flex flex-row flex-wrap justify-content-evenly ">
    <div class="d-grid gap-2 d-md-block m-2 ">
      <button class="btn btn-maindi" type="button">NOVO</button>
    </div>

    <div class="d-flex flex-row w-50 col-md-3 offset-md-3 align-items-center mb-1">
      <label class="fw-bolder">Pilar:</label>
      <select name="tier" id="tie" class="form-control m-1 w-25 ">
        <option value="tie1"></option>
        <option value="tie2"></option>
        <option value="tie3"></option>
      </select>
      <button class="btn btn-maindi m-2" type="button">EDITAR</button>
    </div>

    <div class="d-flex flex-row w-100  align-items-center mb-3">
      <label class="fw-bolder">Descrição:</label>
      <input type="text" class="form-control w-25  m-1"/>
    </div>

    <div class="mt-2 d-flex justify-content-center w-100">
      <button class="btn btn-maindi w-50 ">SALVAR</button>
    </div>
  </div>
</div>
