<div>
  <h2 class="text-center text-uppercase text-primary">Cadastro de Atividade</h2>

  <div class="d-flex flex-row flex-wrap">
    <div class="d-flex flex-row w-50 justify-content-between align-items-center mb-3">
      <label class="fw-bolder">Data</label>
      <input type="text" class="form-control w-75"/>
    </div>

    <div class="d-flex flex-row w-50 justify-content-between align-items-center mb-3">
      <label class="fw-bolder">Assunto</label>
      <input type="text" class="form-control w-75"/>
    </div>

    <div class="d-flex flex-row w-50 justify-content-between align-items-center mb-3">
      <label class="fw-bolder">Cliente</label>
      <input type="text" class="form-control w-75"/>
    </div>

    <div class="d-flex flex-row w-50 justify-content-between align-items-center mb-3">
      <label class="fw-bolder">Status</label>
      <input type="text" class="form-control w-75"/>
    </div>

    <div class="d-flex flex-row w-50 justify-content-between align-items-center mb-3">
      <label class="fw-bolder">Assunto</label>
      <input type="text" class="form-control w-75"/>
    </div>

    <div class="d-flex flex-row w-50 justify-content-between align-items-center mb-3">
      <label class="fw-bolder">Projeto</label>
      <input type="text" class="form-control w-75"/>
    </div>

    <div class="d-flex flex-row w-50 justify-content-between align-items-center mb-3">
      <label class="fw-bolder">Veículo</label>
      <input type="text" class="form-control w-75"/>
    </div>

    <div class="d-flex flex-row w-100 form-floating mb-3">
      <textarea class="form-control" id="textarea"></textarea>
      <label for="textarea">Descrição</label>
    </div>

    <div class="d-flex flex-row w-50 justify-content-between align-items-center mb-3">
      <label class="fw-bolder">Data Estimada de Retorno</label>
      <input type="text" class="form-control w-75"/>
    </div>
  </div>
</div>
