
<div class="col-sm-12 row h-100 h-100">
  <div class="col-sm-3">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100">
      <div class="text-center" >
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-4">Menu</span>
        </a>
      </div>

      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Atendimento
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>


        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>

        <li>
          <a href="#" class="nav-link link-dark text-primary">
            Outro Menu
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>

