
<div class="col-sm-12 row h-100 h-100">
  <div class="col-sm-3">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-maindi w-100">
      <div class="text-center" >
        <a href="/" class="menu-color text-decoration-none">
          <span class="fs-4 fw-bolder">Menu</span>
        </a>
      </div>

      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle active">
            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
          </a>
          <ul class="collapse nav flex-column ms-5" id="submenu2" data-bs-parent="#menu">
            <li class="w-100">
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Cliente</span></a>
            </li>
            <li>
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Atividade</span></a>
            </li>

            <li>
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Paulta e Releases</span></a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#importarDados" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Importar Dados</span>
          </a>
          <ul class="collapse nav flex-column ms-5" id="importarDados" data-bs-parent="#menu">
            <li class="w-100">
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Analisar Dados</span></a>
            </li>
            <li>
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Análise Veículos</span></a>
            </li>
            <li>
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Cadastro</span></a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#cadastro" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Cadastro</span>
          </a>
          <ul class="collapse nav flex-column ms-5" id="cadastro" data-bs-parent="#menu">
            <li class="w-100">
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Cadastro de Atividade</span></a>
            </li>
            <li>
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Acompanhar Atividade</span></a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#atendimento" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Atendimento</span>
          </a>
          <ul class="collapse nav flex-column ms-5" id="atendimento" data-bs-parent="#menu">
            <li class="w-100">
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Cadastro de Atividade</span></a>
            </li>
            <li>
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Acompanhar Atividade</span></a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#cliente" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Area do Cliente</span>
          </a>
          <ul class="collapse nav flex-column ms-5" id="cliente" data-bs-parent="#menu">
            <li class="w-100">
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Cadastro de Atividade</span></a>
            </li>
            <li>
              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Acompanhar Atividade</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>

