<div>
  <h2 class="text-center text-uppercase menu-color">CADASTRO DE PAUTA</h2>

  <div class="d-flex flex-row flex-wrap justify-content-evenly ">
    <div class="d-grid gap-2 d-md-block m-2 ">
      <button class="btn btn-maindi" type="button">NOVO</button>
    </div>

    <div class="d-flex flex-row w-50 col-md-3 offset-md-4 align-items-center mb-1">
      <label class="fw-bolder m-1  ">Cliente:</label>
      <div class="d-flex flex-column m-1 ">
        <select name="tel" id="cli" class="form-control m-1 mb-1">
          <option value="todos">TODOS</option>
          <option value="...">...</option>
        </select>
      </div>

      <button class="btn btn-maindi m-2" type="button">EDITAR</button>
    </div>

    <div class="d-flex flex-row w-50 col-md-3 offset-md-5 align-items-center mb-3">
      <label class="fw-bolder m-1  ">Pauta:</label>
      <div class="d-flex flex-column m-1 ">
        <select name="tel" id="pauta" class="form-control m-1 mb-1">
          <option value="todos">TODOS</option>
          <option value="...">...</option>
        </select>
      </div>
    </div>


    <div class="d-flex flex-row w-50 col-md-3 offset-md-3 align-items-center mb-1">
      <label class="fw-bolder m-1  ">Cliente:</label>
      <div class="d-flex flex-column m-1 ">
        <select name="tel" id="tel" class="form-control m-1 mb-1">
          <option value="..."></option>
          <option value="todos">TODOS</option>
        </select>
      </div>

    </div>

    <div class="d-flex flex-row w-50 col-md-2 offset-md-3 align-items-center mb-3">
      <label class="fw-bolder m-1  ">Pauta:</label>
      <input type="text" class="form-control w-50"/>
    </div>




  </div>
  <div class="mt-3 d-flex justify-content-center">
    <button class="btn btn-maindi ">SALVAR</button>
  </div>
</div>
